.form-group {
    display: block;
    margin-bottom: 1rem;
  }
  
  label {
    font: 400 16px Arial;
    display: block;
    margin-bottom: .5rem;
    color: blue;
  }
  
  .form-control {
    max-width: 500px;
    font: 400 16px Arial;
    display: block;
    width: 100%;
    padding: .3rem .5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  body {
    background-color: #495057;
  }